body{
    background-color: hsl(0, 0%, 10%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px 10px;
    font: 2em;
    color: hsl(35, 100%, 59%);
}